.upload-container {
  padding-left: 50px;
}
.heading {
  padding-top: 20px;
  padding-left: 40px;
}
.file-upload-container {
  margin-top: 40px;
}
.data {
  margin-top: 35px;
}
.label {
  font-size: 14px;
  padding-left: 40px;
}
.mt-width {
  width: 100%;
}
.drop-zone {
  padding: 0px;
  cursor: pointer;
  border-radius: 4px;
  width: 306px;
  height: 33px;
  margin-left: 40px;
}

#button-label {
  float: right;
}
.error-message {
  color: red;
  padding-left: 40px;
}

.button-spacing {
  margin-right: 10px;
}

.button-container {
  margin-top: 50px;
  padding-left: 40px;
}

.spinner-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pad-btm {
  margin-bottom: 20px;
}
.mg-btm {
  margin-bottom: 8%;
}
